<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEB83NZpor_dHHI51yf-RWH5z71cZRmQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>438447775400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskflowSuite</string>
	<key>PROJECT_ID</key>
	<string>todo-pomodoro-3ed9c</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-pomodoro-3ed9c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438447775400:ios:ebf2e951abda596aa82c9d</string>
</dict>
</plist>